@font-face {
    font-family: '나눔스퀘어';
    src: url(../font/NanumSquareB.woff);
}

div, input, textarea{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: '나눔스퀘어';
    transform: rotate(0.03deg)
}

div, input, textarea{
    box-sizing: border-box;
}

p{
    margin: 0;
    padding: 20px;
    font-size: 30px;

}

table{
    border-collapse: collapse;
}

.main-background{
    width: 100%;
    background-color: #c2d3de;
    padding-bottom: 100px;
}

.cart-table{
    width: 100%;
    max-width: 700px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
}

.cart-table th:nth-child(2){
    width: 700px;
}

.cart-table td,.cart-table th{
    padding: 15px;
    border-bottom: 1px solid #c2d3de;
}

.cart-link{
    margin: 30px;
    float: left;
}

.blue-button{
    margin: 30px;
    background-color: rgba(121, 121, 248, 0.781);
    border: none;
    border-radius: 3px;
    padding: 15px;
    color: white;
    float: right;
    cursor: pointer;
}

.blue-button:hover{
    background-color: cadetblue;
}

.blue-button:focus{
    background-color:grey;
}

.blue-button:active{
    background-color: beige;
}

