@font-face {
    font-family: '나눔스퀘어';
    src: url(../font/NanumSquareB.woff);
}

body{
    font-family: '나눔스퀘어';
    transform: rotate(0.03deg);
    margin: 0;
}

div{
    box-sizing: border-box;
}


.tomboy-list {
    padding: 10px;
    ul{
        padding-left: 0px;
    }
    
    li{
        list-style: none;
        border: 1px solid #eee;
        padding: 10px;
    
        &:active{
            color: white;
            background-color: #6fbaf8;
    
        }
    }

}


@mixin box-color($back-color, $font-color){
    background-color: $back-color;
    color: $font-color;
    padding: 10px;
    width: 500px;
    border: 1px solid #eee;
    margin-bottom: 10px;
    margin-left: 10px;

}

.green-box{
    @include box-color(#6ff881, green)
}

.blue-box{
    @include box-color(#6fbaf8, rgb(0, 70, 128))
}

.yellow-box{
    @include box-color(#7a670e52, rgb(255, 226, 132))
}

@mixin column($width) {
    float: left;
    width: $width;
    padding: 10px;
}

.col-6{
    @include column(50%)
}

.col-4{
    @include column(33%)
}

