.grey{
    background-color: lightgray;
    height: 2000px;
    margin-top: 500px;
}
.img{
    float: right;
    width: 400px;
    position: sticky;
    top:100px;
}
.text{
    padding: 20px;
    float: left;
    width: 300px;
}